.footer {
  background-color: var(--nav-main);
  padding: 60px 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-info {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-site);
  margin-bottom: 10px;
}

.footer-logo span {
  color: var(--bg-site);
}

.footer-info p {
  font-size: 1rem;
  opacity: 0.7;
  max-width: 350px;
  line-height: 1.6;
}

.footer-bottom {
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 30px;
}

.footer-bottom p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.footer-tag {
  margin-top: 10px;
  font-weight: 600;
  color: var(--bg-site) !important;
  opacity: 0.8 !important;
}

/* RESPONSIVIDADE PARA CELULAR */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-socials {
    justify-content: center;
  }
}